#komputer-header{
    border-style: dotted;
    height: 100px;
    width: 100px;
}
#komputer-body{
    border-style: dotted;
    height: 100px;
    width: 100px;
}
#container-bank{
    border-style: dotted;
    height: 100px;
    width: 100px;
}
#container-work{
    border-style: dotted;
    height: 100px;
    width: 100px;
}
#container-laptops{
    border-style: dotted;
    height: 100px;
    width: 100px;
}
#container-laptop-order{
    border-style: dotted;
    height: 100px;
    width: 100px;
}
#komputer-footer{
    border-style: dotted;
    height: 100px;
    width: 100px;
}